:root {

    --dark-bg: hsl(9, 100%, 60%);
    --bg: hsl(9, 100%, 64%);
    --light-bg: hsl(9, 100%, 72%);

    --text: hsl(0, 0%, 5%);

    --primary: hsl(58, 31, 67%);
}



body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". main .";

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: var(--bg);
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
}

main #configuration-grid-container {
    width: 70%;
    height: 300px;

    background-color: var(--light-bg);

    border-radius: 20px;

    display: flex;
    flex-direction: column;

    gap: 20px;

    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;


}

#time-configuration-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    margin: 12px 0;
}

#timer-container {
    margin: auto auto
}

main section .field-container label {
    display: block;





}



p, span, label {
    color: var(--primary);
}