:root {

    --dark-bg: hsl(9, 100%, 60%);
    --bg: hsl(9, 100%, 64%);
    --light-bg: hsl(9, 100%, 72%);

    --text: hsl(0, 0%, 5%);

    --primary: hsl(58, 31%, 20%);

    color: var(--primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". main .";

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: var(--dark-bg);
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 12px;
}

main #configuration-grid-container {
    width: 70%;
    height: 300px;

    background-color: var(--bg);

    border-radius: 20px;

    gap: 20px;

    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;


}

#time-configuration-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;

    margin: 12px 0;
}

#timer-container {
    margin: auto auto;
    font-size: 64px;
    font-weight: 1000;
    text-decoration: underline;
}

main section .field-container {
    display: flex;
    gap: 20px;
}
main section .field-container input {
    outline: none;
    border: none;

    padding: 12px;
    width: 100px;

    background-color: var(--light-bg);
}

#buttons-flex-container {
    display: flex;
    justify-content: flex-end;

    width: 70%;
    padding: 20px;
}



#buttons-flex-container button {
    padding: 0px;

    width: 10em;
    height: 3em;

    border: none;
    outline: none;


    border-radius: 12px;
    background-color: var(--bg);
}

#buttons-flex-container button:hover {cursor: pointer; }
#buttons-flex-container button:active {background-color: var(--dark-bg); }


p, span, label {
    color: var(--primary);
}